<!DOCTYPE html>
<html lang="ru" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Практика</title>
        <link rel="stylesheet" type="text/css" href="styles/style_for_home.css"/>
        <script type="module" src="scripts/js_for_home.js"></script>
    </head>

    <body>
        <div id="header">
            <img id="logo" src="images/logo.png" alt=""/>
            <div class="user">
                <p>Вы вошли как: &nbsp</p>
                <p id="current-user"></p>
                <button id="log-out" type="button">Выйти</button>
            </div>
        </div>
        <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
            <label id="drop-container">
                <input type="file" name="filedata"/>
                <button type="submit" id="upload-button">Загрузить файл</button>
            </label>
        </form>
            <label id="container">
                <label class="container-with-data">
                    <h2>Файлы:</h2>
                    <button type="button" id="update-file-button"></button>
                    <ul id="pathList">
                        Кликните для получения списка файлов
                    </ul>
                </label>
                <label class="container-with-data">
                    <h2>Статистика:</h2>
                    <button type="button" id="update-statistics-button"></button>
                    <ul id="statisticsList">
                        Кликните для получения статистики
                    </ul>
                </label>
            </label>
        
        <div id="context-menu">
            <button id="processing-button">Конвертировать в PDF</button>
        </div>
    </body>
</html>
