<!DOCTYPE html>
<html lang="ru" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Практика</title>
    <script type="module" src="scripts/js_for_home.js"></script>
</head>

<body>
    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
        <h1>Загрузить файл</h1>
        <input type="file" name="filedata" />
        <br>
        <button style="display: block;" type="submit">Загрузить файл</button>
        <h2 style="display: inline-block;">Файлы</h2> 
        <button type="button" id="update-button">Обновить</button>
        <ul id="pathList"></ul>
    </form>
</body>

</html>
