<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Практика</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script type="module" src="scripts/bundle.js"></script> 
</head>
<body>
    <form id="login-form" method="post">
        <div class="form">
            <h3>Вход</h3>
            <div class="input-form">
                <input type="email" placeholder="E-MAIL" required>
                <input type="password" placeholder="Пароль" required>
            </div>
            <p id="warning"></p>
            <button type="submit" id="but">ВХОД</button>
        </div>
    </form>
</body>
</html>
